<% provide(:title, @position.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <table>
      	<tr>
      	  <td><h1><%= @position.name %></h1></td>
      	  <td><h1><%= @position.abbreviation %></h1></td>
      	</tr>
      </table>      
    </section>
  </aside>
</div>