<%= form_for @skill, url: admin_skills_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Make new skill..." %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>